<div class="c-container paddings">

<% if @conversations.length == 0 %>
    <div class="no-contact">
        <h2> You don't have any contact.</h2>
        <p>Do you want to check restaurants ?</p>
        <%= link_to 'Restaurants', restaurants_path, class: 'btn-gradient-3d-orange' %>
    </div>
<% end %>

<% @conversations.each do |conversation| %>
    <% users = conversation.users.where.not(id: current_user.id) %>
    <% users.each do |user| %>
    <div class="c-members">
        <% if user.images.attached? %>
            <%= image_tag user.images.first, class:"p-image" %>            
            <%= link_to user.first_name, conversation_path(conversation), class: "pertner-name" %>
            <% if conversation.messages.length > 0 %>
                <small class="last-update"><%= time_ago_in_words(conversation.messages.last.updated_at) %> ago</small>
            <% end %>
            <%= button_to "ðŸ—‘ï¸", conversation_path(conversation), method: :delete %>
        <% else %>
            <%= image_tag 'icon2.jpg', class:"p-image" %>
            <%= link_to user.first_name, conversation_path(conversation), class: "pertner-name" %>
            <% if conversation.messages.length > 0 %>
                <small class="last-update"><%= time_ago_in_words(conversation.messages.last.updated_at) %> ago</small>
            <% end %>
            <%= button_to "ðŸ—‘ï¸", conversation_path(conversation), method: :delete %>
        <% end %>
        <% end %>
        <% if conversation.messages.length > 0 %>
            <div class="last-message">
                <span <% if unchecked_conversations.where(conversation_id: conversation.id).present? %>
                    style="font-weight: bold;"
                <% end %>>
                    <%= truncate(conversation.messages.last.content, length: 30, separator: " ")%>
                    </span><br>
                    <% if conversation.messages.last.sender.first_name == current_user.first_name %>
                        <p>- last message : you -</p><br>
                    <% else %>
                        by <%= conversation.messages.last.sender.first_name %><br>
                    <% end %>
                    <% convo_missed_messages = unchecked_conversations.joins("LEFT JOIN messages ON (user_conversations.conversation_id = messages.conversation_id) AND (user_conversations.updated_at < messages.updated_at)").where(conversation_id: conversation.id) %>
                    <% if convo_missed_messages.present? %>
                    <small style="color:#e06377;">
                        <%= convo_missed_messages.length %> missed messages
                    </small>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>
</div>





