<h5><%= current_user.contacts.length %> user.contacts</h5>

<% @conversations.each do |conversation| %>

    <div class="request-container">
        <% users = conversation.users.where.not(id: current_user.id) %>
            <% users.each do |u| %>
            <div class="request-item">
                <% if u.images.attached? %>
                    <%= image_tag u.images.first, class:"img-fit p-image" %>
                    <%= link_to u.first_name, conversation_path(conversation), class: "pertner"%>
                <% else %>
                    <%= image_tag 'icon2.jpg', class:"img-fit p-image" %>
                    <%= link_to u.first_name, conversation_path(conversation), class: "pertner"%>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>

<% end %>




