<% @conversations.each do |conversation| %>
    <div class="message-button">
        <% users = conversation.users.where.not(id: current_user.id) %>
        <% sent_request = Request.find_by(requester_id: current_user.id, requested_id: users.first.id, status: :pending) %>
        <% received_request = Request.find_by(requester_id: users.first.id, requested_id: current_user.id, status: :pending) %>
        <%= link_to users.map{|u| u.first_name}.join(", "), conversation_path(conversation) %>
        <% if sent_request.present? %>
            <div>
                <%= sent_request.status %>
            </div>
        <% elsif received_request.present? %>
            <div>
                <%= received_request.status %> - I could make some buttons go in here for approve and reject
            </div>
        <% end %>
    </div>
<% end %>
<h1><%= current_user.contacts.length %> user.contacts</h1>
<h1>
    <% current_user.contacts.each do |c| %>
        <%= c.first_name %>
    <% end %>
</h1>


