<script type="text/javascript">
    const CONVERSATION_ID = <%= @conversation.id %>;
    const CURRENT_USER_ID = <%= current_user.id %>;
</script>
<div class="conversation-container">
<div class="sender2">
    <%  @conversation.other_participants(current_user).each do |pa| %>
        <h1 class="sender-name"><%= link_to pa.first_name, user_path(pa) %></h1>
    <% end %>
</div>

<div id="chat" data-conversation-id="<%= @conversation.id %>" class="conversation-box">
    <% @conversation.messages.each do |message| %>
        <% if message.sender_id != current_user.id %>
            <div class='left-message'>
                <div class="chat-pic">
                    <% if message.sender.images.attached? %>
                        <%= image_tag message.sender.images.first, class: "pic" %>
                    <% else %>
                        <%= image_tag 'icon2.jpeg', class: "pic" %>
                    <% end %>
                </div>
                <div class='left-box'>
                    <div class="says">
                        <p>
                            <% if message.image.attached? %>
                                <%= image_tag message.image, class: "img-fit" %>
                            <% end %>
                            <span id="<%=message.id%>"><%= message.content %></span>
                        </p>
                    </div>
                </div>
            </div>
            <p class="time1"><%= time_ago_in_words(message.created_at)%> ago</p>
        <% else %>
            <div class='mycomment'>
                <p>
                    <% if message.image.attached? %>
                        <%= image_tag message.image, class: "img-fit" %>
                    <% end %>
                    <span id="<%=message.id%>"><%= message.content %></span>
                </p>
            </div>
            <p class="time2"><%= time_ago_in_words(message.created_at)%> ago</p>
        <% end %>
    <% end %>
</div>

<div class="send-form">
    <%= form_with model: [@conversation, @new_message], :html => {:id =>"myform"}, remote: true do |form| %>
<div id="error" style="visibility: hidden;"></div>

        <%= form.text_area :content, placeholder: "type message here", autofocus: true, class:"message-box" %>
        <%= form.file_field :image %>
        <%= form.submit '📨', class: 'btn-gradient-3d-orange' %>
    <% end %>
</div>
</div>

