<script type="text/javascript">
    const CONVERSATION_ID = <%= @conversation.id %>;
    const CURRENT_USER_ID = <%= current_user.id %>;
</script>
<h3>
    <%= @conversation.other_participants(current_user).map{ |pa| pa.first_name }.join(", ") %>
</h3>
<!--
<div id="chat" data-conversation-id="<%#= @conversation.id %>">
    <#% @conversation.messages.each do |message| %>
        <p id="<%#=message.id%>"><%#= message.content %></p>
    <%# end %>
-->
<div id="chat" data-conversation-id="<%= @conversation.id %>" class="conversation-box">
    <% @conversation.messages.each do |message| %>
        <% if message.sender_id == current_user.id %>
            <div class='message right'>
                <p id="<%=message.id%>"><%= message.content %></p>
                <%if message.image.attached? %>
                    <%= image_tag message.image, class: "icon-size" %>
                <% else %>
                    <%= image_tag 'icon.png', class: "icon-size" %>
                <% end %>
            </div>
        <% else %>
            <div class='message left'>
                <small>by<%= message.sender.first_name %></small>
                <p id="<%=message.id%>"><%= message.content %></p>
                    <%if message.image.attached? %>
                        <%= image_tag message.image, class: "icon-size" %>
                    <% else %>
                        <%= image_tag 'icon.png', class: "icon-size" %>
                    <% end %>
            </div>
        <% end %>
    <% end %>
</div>
<div>
    <%= form_with model: [@conversation, @new_message], remote: true do |form| %>
        <%= form.text_area :content, placeholder: "type message here", autofocus: true %>
        <%= form.file_field :image %>
        <%= form.submit %>
    <% end %>

</div>