<% requests.each do |request| %> 
    <div class="paddings">
        <%=link_to request.requester.first_name, user_path(request.requester) %>
         <%if request.requester.images.attached? %>
            <%= image_tag request.requester.images.first, class: "icon-size" %>
        <% else %>
            <%= image_tag 'icon2.jpeg', class: "icon-size" %>
        <% end %>
        <%= link_to 'Approve', approve_request_path(request), method: :patch, class: 'btn-gradient-3d-orange' %>
        <%= link_to 'Reject', reject_request_path(request), method: :patch, class: 'btn-gradient-3d-orange' %>
    </div>
<% end %>