<div class="flash-title">
  <p> NO HEY </p>
</div>

<header class="header-restaurant">
  <% if can? :crud, @restaurant %>
    <%= link_to 'New Restaurant', new_restaurant_path, class: "new-restaurant" %>
  <% end %>

  <div class="search">
    <% if @tag.present? %>
        <h6>
            Showing restaurants tagged by 
            <span class="badge badge-pill badge-primary">
                <%= @tag.name %>
            </span>
        </h6>
    <% end %>
  </div>
</header>


<article class = "restaurant-container">
  <% @restaurants.each do |restaurant| %>
    <div class = "restaurant" data-lat="<%= restaurant.lat %>" data-lon="<%= restaurant.lon %>" >
      <div class="title">
        <h3> <%= restaurant.name %></h3> 
        <small style="font-weight: lighter;">City:</small>
        <small><%= restaurant.city %></small>
        <small class="distance" style="display: hidden;"></small>
      </div>
      <div>
        <% if restaurant.images.attached?  %>
          <%= image_tag restaurant.images.last, class: "img-fit pic-restaurant" %>
        <% else %>
          <%= image_tag "restaurants/restaurantWF.jpg", class: "img-fit pic-restaurant" %>
        <% end %>
      </div>
      <%= link_to 'Interested', restaurant_path(restaurant), class: "interested" %>
    </div>
  <% end %>
</article>

<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      console.log("Geolocation is not supported by this browser.");
    }
  }

  function showPosition(position) {
    function distance(lat1, lon1, lat2, lon2, unit) {
      if ((lat1 == lat2) && (lon1 == lon2)) {
        return 0;
      }
      else {
        var radlat1 = Math.PI * lat1/180;
        var radlat2 = Math.PI * lat2/180;
        var theta = lon1-lon2;
        var radtheta = Math.PI * theta/180;
        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        if (dist > 1) {
          dist = 1;
        }
        dist = Math.acos(dist);
        dist = dist * 180/Math.PI;
        dist = dist * 60 * 1.1515;
        if (unit=="K") { dist = dist * 1.609344 }
        if (unit=="N") { dist = dist * 0.8684 }
        return dist;
      }
    }

    const restaurants = $(".restaurant");
    restaurants.each(function(i, val) {
      if ($(this).data("lat") != "" && $(this).data("lon") != "") {
        $(this).find(".distance").css("display", "visible");
        $(this).find(".distance").text(`${distance($(this).data("lat"), $(this).data("lon"), position.coords.latitude, position.coords.longitude, "K").toFixed(2)} km away`);
      }
    });
  }
  $(document).ready(getLocation());
</script>