<div class="flash-title">
  <p> NO HEY </p>
</div>

<header class="header-restaurant">
  <% if can? :crud, @restaurant %>
    <%= link_to 'New Restaurant', new_restaurant_path, class: "new-restaurant" %>
  <% end %>

  <div class="search">
    <% if @tag.present? %>
        <h6>
            Showing restaurants tagged by 
            <span class="badge badge-pill badge-primary">
                <%= @tag.name %>
            </span>
        </h6>
    <% end %>
  </div>
</header>


<article class = "restaurant-container">
  <% @restaurants.each do |restaurant| %>
    <div class = "restaurant">
      <div class="title">
        <h3> <%= restaurant.name %></h3> 
        <small style="font-weight: lighter;">City:</small>
        <small><%= restaurant.city %></small>
      </div>
      <div>
        <% if restaurant.images.attached?  %>
          <%= image_tag restaurant.images.last, class: "img-fit pic-restaurant" %>
        <% else %>
          <%= image_tag "restaurants/restaurantWF.jpg", class: "img-fit pic-restaurant" %>
        <% end %>
      </div>
      <%= link_to 'Interested', restaurant_path(restaurant), class: "interested" %></p>
    </div>
  <% end %>
</article>

