
<header class="header-restaurant">
  <% if can? :crud, @restaurant %>
    <%= link_to 'New Restaurant', new_restaurant_path, class: "new-restaurant" %>
  <% end %>

  <div class="search">
    <% if @tag.present? %>
        <h6>
            Showing questions tagged by 
            <span class="badge badge-pill badge-primary">
                <%= @tag.name %>
            </span>
        </h6>
    <% end %>
  </div>
</header>


<article class = "restaurant-container">
  <% @restaurants.each do |restaurant| %>
    <div class = "restaurant">
      <h3 class="title"> <%= restaurant.name %></h3> 
        <%= image_tag(restaurant.images.last, class: "img-fit pic-restaurant") if restaurant.images.attached? %>
       

      <div class="info">
        <div>
          <small style="font-weight: lighter;">City:</small>
          <small><%= restaurant.city %></small>
        </div>

        <div>
         <small style="font-weight: lighter;">Website: </small>
          <p><%=link_to restaurant.website, restaurant.website %></p>
        </div>

        <p><%= link_to 'Interested', restaurant %></p>
      </div>
    </div>
  <% end %>
</article>

