<article class = "restaurant-container">
    <div class = "restaurant">
      <h3 class="title"> <%= @restaurant.name %></h3> 
        <%= image_tag(@restaurant.images.last, class:"img-fit pic-restaurant") if @restaurant.images.attached? %>
      <div class="info">
      <div>
        <% unless @restaurant.tags.empty?  %>
            <p>
              Tags: 
              <% @restaurant.tags.each do |tag| %>
                  <%= link_to(
                      tag.name, restaurants_path(tag: tag.name),
                      class: 'badge badge-pill badge-primary'
                  ) %>
              <% end %>
            </p>
        <% end %>
      </div>
        <div>
          <small style="font-weight: lighter;">Adress:</small>
          <p><%= @restaurant.address %></p>
          <small><%= @restaurant.city %></small>
          <small> <%= @restaurant.state %>,<%= @restaurant.country %></small>
          <small><%= @restaurant.zip_code %></small>
        </div>

        <div>
           <small style="font-weight: lighter;">Phone:</small>
          <p><%= @restaurant.phone_number %></p>
        </div>

        <div>
         <small style="font-weight: lighter;">Website: </small>
          <p><%=link_to @restaurant.website, @restaurant.website %></p>
        </div>
      </div>
    </div>
</article>

<div style="margin: 1em;">
  <%if can? :crud, @restaurant %>
    <%= button_to 'Delete', restaurant_path(@restaurant), method: :delete, data:{confirm:'Are you sure?'} %>
    <button>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
    </button>
  <% end %>
</div>

<div class="like-member">
<% if user_signed_in? %>
    <% if @user_restaurant.present? %>
      <%= button_to 'Unlike', user_restaurant_path(@user_restaurant), method: :delete %>
      <small><%= @restaurant.likers.length %> people are intrested in the restaurant</small>
      <div class="lists">
        <% @restaurant.likers.each do |liker| %>
        <div class="list">
          <%= image_tag "doggo_hey.jpeg", class: "img-fit pic" %>
          <%= link_to liker.username, user_path(liker), class: "middle aligned content" %>
        </div>
        <% end %>
      </div>
    <% else %>
      <%= button_to 'Like', restaurant_user_restaurants_path(@restaurant), method: :post %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back', restaurants_path %>
